.responsive__active {
  display: block !important;
}

.background-header{
  background-color: white;
  opacity: 0.87;
  color: black;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  /* … */
  .horizontal-menu {
    display: none;
  }
  .hide-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    // align-items: center;
    width: 100%;
    .bar-header{
      display: flex;
      flex-direction: row;
      align-items: center;
      .navbar-brand{
        img{
          width: 50%;
        }
      }
      
      .nav-button {
        display: flex;
        flex-direction: column;
        align-items: end;
        img{
          width: 50%;
        }
        .logo-button{
          width: 50%;
        }
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 1920px) {
  /* … */
  .container{
    margin-left: 5rem;  
    margin-right: 3rem;  
  }

  .hide-menu {
    display: none;
  }

  .vertical-menu {
    display: none;
  }

  .horizontal-menu {
    display: flex;
    flex-direction: row;
    // // color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .option-horizontal-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10pt;
    }
  }
}
