<div>
    <div class="footer-container">
        <div class="rights-reserve"></div>
        <div class="menu-footer">
            <ul>
                <li routerLink="/home">Home</li>
                <li routerLink="/aboutUs">About Us</li>
                <li routerLink="/tecnology">Technology</li>
                <li routerLink="/contactUs">Contact Us</li>
                <li routerLink="/blog">Blog</li>
            </ul>
            <picture>
                <img src="../../assets/images/logo-_gattaca_white-footer.svg" alt="">
            </picture>
        </div>
        <h3 class="rights-reserve">
            Gattaca Genomics All Rights Reserved 2011 - 2023
        </h3>
    </div>
</div>