<div class="content-layout">
    <div class="first-container">    
        <app-header></app-header>    
        <!-- <img src="/assets/images/header-aboutus.jpg" alt=""> -->
        <div class="header-about-Us">
            <label class="title-a">About Us</label>
        </div>
    </div>
    <div class="unlocking">
    
        <p class="blue-title">
            Unlocking the Future of Family Planning with Gattaca Genomics
        </p>
    
        <p class="p-1">
            Gattaca Genomics offers state-of-the-art genetic testing services to help you achieve your family planning goals. Our PGT-A and PGT-M testing services can help you maximize your chances of a successful pregnancy and reduce the risk of passing on genetic disorders to your child.
        </p>
    
        <p class="p-1">
            At Gattaca Genomics, we understand that every family’s journey is unique. Our team provides personalized guidance, counseling, and support throughout the entire process. We are committed to helping you build a healthy and happy future.
        </p>
    </div>
    <div class="blue-line"></div>
    <div class="footer-aboutUs">
        <div class="foot-container">
    
            <div class="conten-blue">
                <label class="one-part">We can help you maximize your chances of a successful pregnancy</label>
                <label class="secon-part">Gattaca Genomics offers state-of-the-art genetic testing services to help you achieve your family planning goals. Our PGT-A and PGT-M testing services can help you maximize your chances of a successful pregnancy and reduce the risk of passing on genetic disorders to your child.</label>
            </div>
    
        </div>
    </div>
</div>