<div class="content-layout">
    <app-header class="nav-bar"></app-header>
    <div class="technology-container">
        <div class="contact-head">
            <!-- <img src="" alt=""> -->
            <h2>Technology</h2>
        </div>
        <div class="contact-sub-head">
            <h3>Showcasing our Innovation</h3>
            <p>Quick description of what is our technology and how we are different from competition, adding the tests and explaining each one? Our Innovative Technology: At Gattaca, innovation is at our core. Our technology portfolio is engineered to….</p>
        </div>
        <div class="line-gradient"></div>
        <div class="tech-data">
            <section class="data-container">
                <h3>PGT-A Testing:</h3>
                <div class="info-content">
                    <p>
                        Maximize your chances of a successful pregnancy with Preimplantation Genetic Testing for Aneuploidy (PGT-A) testing. Our advanced genetic screening assesses embryos for chromosomal abnormalities. Reduce the risk of miscarriage and increase the likelihood of a healthy birth. Embrace peace of mind as you embark on your journey to parenthood.
                    </p>
                    <picture>
                        <!-- <img src="assets/images/placeholder-technoilogy.png" alt=""> -->
                        <img src="assets/images/placeholder-technology2.png" alt="">
                    </picture>
                </div>
            </section>
            <section class="data-container">
                <h3>PGT-M Testing:</h3>
                <div class="info-content">
                    <p>
                        For families facing inherited genetic conditions, Gattaca Genomics offers Preimplantation Genetic Testing for Monogenic Disorders (PGT-M) testing. Safeguard your child from genetic disorders by identifying embryos that are non-carriers for some known detrimental genetic mutations. Empower your family’s future with careful, well-informed family planning.
                        <br>
                        <br>
                        This is a list of diseases that can be screened for using PGT-M:
                        <br>
                        <br>
                        <br>
                        - Cystic Fibrosis 
                        <br>
                        <br>
                        - Fragile-X syndrome 
                        <br>
                        <br>
                        - Muscular dystrophy 
                        <br>
                        <br>
                        - Huntington’s disease and many more.
                    </p>

                    <!-- <picture>
                        <img src="assets/images/placeholder-technology2.png" alt="">
                    </picture> -->
                </div>
            </section>
        </div>
        <div class="contact-sub-head">
            <h3>Euploid Embryo</h3>
            <p>An euploid embryo refers to an embryo that has a complete, balanced set of chromosomes, with the correct number of chromosomes in each pair. In humans, euploid embryos typically have 46 chromosomes, with 23 pairs, and this includes one pair of sex chromosomes (XX for females and XY for males).</p>
        </div>
        <div class="process-illustration">
            <div class="illustration">
                <picture>
                    <img src="assets/images/placeholder-techonology.png" alt="">
                </picture>
                <h3>Euploid</h3>
            </div>
            <div class="illustration">
                <picture>
                    <img src="assets/images/placeholder-technoilogy-2.png" alt="">
                </picture>
                <h3>Aneuploid</h3>
            </div>
            <div class="illustration">
                <picture>
                    <img src="assets/images/placeholder-technoilogy-3.png" alt="">
                </picture>
                <h3>Mosaic</h3>
            </div>
        </div>
    </div>
</div>
<app-footer/>
