/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
.container-app{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-layout {
    position: relative;
    max-width: 1320px;
    // padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}