<div class="container-home">
  <div class="first-container">
    <app-header></app-header>

    <div class="preimplantation">
      <label class="label-one"
        >Preimplantation <span class="bold-one">Genetic Testing</span>
      </label>
      <label class="label-two"
        >Your path to a healthy, happy family begins <a href="">here</a>
      </label>
      <label class="label-three"
        >Genetic testing services to help you achieve your family planning
        goals.</label
      >
    </div>
    
    <div class="preimplantation-last">
        <label class="blue-label"> Where Science Meets Hope</label>
        <p class="blue-king-label">
            Gattaca Genomics offers state-of-the-art Preimplantation Genetic Testing for Aneuploidy (PGT-A) and Monogenic Disorders (PGT-M) to help you achieve your family planning goals.
        </p>
    </div>

    <div class="blue-line"></div>
  </div>
</div>
<div class="proccess-work">
 <label class="title">How does the PGT-A process work</label>

 <div class="steps">
    <img src="assets/images/icon_gattaca_pgta1.svg" alt="">
    <div class="separe"></div>
    <img src="assets/images/icon_gattaca_pgta2.svg" alt="">
    <div class="separe"></div>
    <img src="assets/images/icon_gattaca_pgta3.svg" alt="">
    <div class="separe"></div>
    <img src="assets/images/icon_gattaca_pgta4.svg" alt="">
        
 </div>
</div>
