<div class="content-layout">
  <div class="container-home">
    <div class="first-container">
      <app-header></app-header>
      
      <div class="preimplantation">
        <div class="preimplantation-body">
          <label class="label-one">
            Preimplantation <span class="bold-one">Genetic Testing</span>
          </label>
          <label class="label-two">
            Your path to a healthy, happy family begins <a href="">here</a>
          </label>
          <label class="label-three">
            Genetic testing services to help you achieve your family planning
            goals.
          </label>
        </div>
      </div>
      <!-- <video class="video-replay" src="assets/video/homePage.mp4" loop autoplay></video> -->
      <div class="preimplantation-last">
        <label class="blue-label"> Where Science Meets Hope</label>
        <p class="blue-king-label">
          Gattaca Genomics offers state-of-the-art Preimplantation Genetic
          Testing for Aneuploidy (PGT-A) and Monogenic Disorders (PGT-M) to help
          you achieve your family planning goals.
        </p>
      </div>

      <div class="blue-line"></div>
    </div>
  </div>

  <div class="proccess-work">
    <label class="title">How does the PGT-A process work</label>
    <div class="steps">
      <div class="steps-images">
        <img src="assets/images/icon_gattaca_pgta1.svg" alt="" />
        <label
          >Few cells are collected from your embryo for genetic analysis. The
          embryo does not leave your IVF center.</label
        >
      </div>
      <div class="separe"></div>
      <div class="steps-images">
        <img src="assets/images/icon_gattaca_pgta2.svg" alt="" />
        <label
          >The cells are transported to Gattaca Genomic’s lab. Utilizing
          state-of-the-art machines and protocols, the sample undergoes genetic
          analysis.</label
        >
      </div>
      <div class="separe"></div>
      <div class="steps-images">
        <img src="assets/images/icon_gattaca_pgta3.svg" alt="" />
        <label
          >A final report will be sent to your physician with detailed
          information.</label
        >
      </div>
      <div class="separe"></div>
      <div class="steps-images">
        <img src="assets/images/icon_gattaca_pgta4.svg" alt="" />
        <label>
          Based on the genetic analysis report your physician will make an
          informed decision about embryo implantation.
        </label>
      </div>
    </div>
  </div>
  <div class="final-part">
    <!-- <img class="image-mobile" src="/assets/images/gattaca-stock-bannerplaceholder-mobile.jpg" alt=""> -->
    <div class="text-title-blue">
      <label class="title-label"
        >Your path to a healthy, happy family begins <a href="">here</a></label
      >
    </div>
  </div>
</div>
<app-footer></app-footer>
