.nav-bar{
  position: absolute;
  width: 100%;
  // padding: 0 48px 0 80px;
  z-index: 2;
}

.container-home{
  width: 100%;
}

.first-container {
  position: relative;
  width: 100%;

  .video-replay {
    width: 100%;
    height: 100%;
    max-height: 800px;
    object-fit: cover;
    object-position: top;
  }

  .preimplantation {
    position: absolute;
    bottom: 5%;
    left: 5%;

    .preimplantation-body {
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 300px;
      opacity: 0.87;
      border-radius: 30px 0px 30px 0px;
      background: linear-gradient(0.25turn, #0A98FF, #7D56FF);

      .label-one {
        color: white;
        font-size: 30px;
        line-height: 30px;
        font-weight: 400;
        .bold-one {
          font-weight: 600;
        }
      }

      .label-two {
        color: white;
        font-size: 20px;
        line-height: 25px;
        a {
          color: #ffffff;
        }
      }

      .label-three {
        color: white;
        font-size: 14px;
        line-height: 15px;
      }
    }
  }
}

.preimplantation-last{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 0 20px 30px 80px;
  padding-top: 50px;
  padding-bottom: 15px;
  background: #eeeeee;
  margin-top: -10px;

  .blue-label {
      font-weight: 500;
      font-size: 30px;
      color: #4875FF;
  }

  .blue-king-label {
      font-size: 15px;
      color: #0C1F4E;
      line-height: 16px
  }
}

.blue-line {
  width: 100%;
  height: 20px;
  background: linear-gradient(0.25turn, #0A98FF, #7D56FF)
}

.proccess-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 620px;
  // margin-top: 10px;
  background: #030917;

  .title {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 100px;
  }

  .steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    // gap: 10px;
    color: #ffffff;
    .steps-images {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 14%;
      text-align: center;
      label{
        font-size: 14px;
      }
      img {
        width: 80%;
      }
    }
    .separe {
      width: 7%;
      height: 3px;
      background: #7d56ff;
      margin-top: 6%;
    }
  }
}

.final-part {
  width: 100%;
  position: relative;
  // height: 700px;
  // background-image: url("../../assets/images/gattaca-stock-bannerplaceholder-mobile.jpg");
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-size: cover;    
  img{
    // position: absolute;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: cover;   
    // z-index: -1;
    width: 100%;
  }
  .text-title-blue {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 10%;
    .title-label {
      text-align: end;
      width: 53%;
      font-weight: 600;
      // line-height: 35px;
      font-size: 34px;
      color: #4875ff;
      margin-top: 125px;
    }
  }
}

@media screen and (max-width: 920px) {
  .first-container{
    .preimplantation {
      margin: 20px;
      bottom: 0;
      left: 0;
      .preimplantation-body {
        padding: 20px;
        .label-one {
          font-size: 22px;
        }
  
        .label-two {
          font-size: 18px;
        }
  
        .label-three {
          font-size: 12px;
        }
      }

    }
  }
  .preimplantation-last{
    padding: 10px;
    align-items: center;
    .blue-label {
      font-size: 30px;
      text-align: center;
    }

    .blue-king-label {
       font-size: 16px;
       text-align: center;
    }
  }

  .proccess-work {
    height: auto;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;

    .title{
      font-size: 26px;
      padding: 0 20px;
      margin: 0;
    }

    .steps{
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .steps-images {
        width: 100%;
        padding: 0 40px;

        img{
          width: 40%;
        }
      }

      .separe {
        rotate: 90deg;
        width: 40px;
        margin-bottom: 30px;
      }
    }
  }

  .final-part {
    width: 100%;
    position: relative; 
    img{
      min-height: 300px;
      object-fit: cover;
      // object-position: 15%;
    }
    .text-title-blue {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      justify-content: end;
      margin-right: 10%;
      .title-label {
        text-align: end;
        width: 53%;
        font-weight: 600;
        // line-height: 35px;
        font-size: 25px;
        color: #4875ff;
        margin-top: 50px;
      }
    }
  }
}